@page "/categories"
@using Microsoft.EntityFrameworkCore

<h3>Categorias</h3>
@inject ApplicationDbContext context

@foreach (var category in ListModel)
{
    <div class="espaco">
        <div class="coluna">
            <p><strong>Categoria:</strong> @category.Title</p>
        </div>
        <div class="coluna">
            <button type="button" class="btn btn-outline-primary">Primary</button>
            <button type="button" class="btn btn-outline-danger">Danger</button>
        </div>
    </div>
}

@code {
    public List<Category> ListModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ListModel = await context.Categories.AsNoTracking().ToListAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine("Ocorreu um erro na aplicacao");
        }
    }
}